.container {
  max-width: 1100px;
  margin: 3px auto;
  background-color: #f4f4f4;
}

/*Column Grid and repeat() and minmax()*/
.item-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, minmax(1fr, 2fr));
  /* gap: 20px; */
}
.item {
  background-color: coral;
  border: 1px solid #333;
  padding: 1rem;
  text-align: center;
}

/*Row Grid*/
/* .item-grid {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
.item {
  background-color: coral;
  border: 1px solid #333;
  padding: 1rem;
  text-align: center;
  gap: 20px
} */
